@use "tailwindcss";
@use "variables";

body {
  background-color: #fcfcfc;
  font-family: "Roboto";
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: variables.$main-color;
  font-size: 2rem;
  font-weight: 500;
}
