@import "tailwindcss";
@import "variables";

body {
 background-color: #FCFCFC;
 font-family: 'Roboto';
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: $main-color;
    font-size: 2rem;
    font-weight: 500;
}